<%- include('partials/header'); -%>
<h1>
  Home
</h1>
<p><%= startingContent %></p>

<%# foreach instead of for loops, you can tap into value of keys by both menthod in h1 and p %>

<% posts.forEach(function(post){ %>
<h1>  <%= post.title %>...</h1>
<p>  <%= post.content %>... <a href= "/posts/<%= post.title  %>">Read more</a></p>
<%  }); %>

<%- include('partials/footer'); -%>
